@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

.feed-stats {
  color: white;
}

.nav-item {
  &:before {
    content: '';
    width: 40px;
    height: 40px;
    // background: red;
    margin-top: 3px;
    margin-bottom: -3px;
    margin-left: -5px;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  // &.asset-BazQux:before {
  //   background-image: url('/media/icons/The+Alliance.png');
  // }

  // &.asset-FooBar:before {
  //   background-image: url('/media/icons/The+Alliance.png');
  // }

  .MuiListItemText-secondary {
    color: transparent;
  }
}

.transit-marker {
  color: transparent;
  background: repeating-linear-gradient(to right, silver 0px, gray 10px, gray 11px, silver 20px);
  background-clip: text;
  -webkit-background-clip: text;
  animation: portal-flash linear 2.5s infinite;
  text-shadow: 0px 0px 5px gray;
  font-weight: 700;
}

@keyframes portal-flash {
  0% {
    background-position-x: 0px;
  }
  
  100% {
    background-position-x: 100px;
  }
}

.interactionscreen-component .video-visible {
  object-fit: cover;
  mask: url(/media/video-filter.svg);
  mask-size: 100% 100%;
  mask-type: luminance; /* white = transparent, grays = semi-transparent, black = opaque */
  mask-type: alpha; /* transparent areas of the image let image through, otherwise not */
}